{% block sw_cms_preview_image_button %}
<div class="button-wrapper">
        <div class="preview-btn">
            <img class="btn-img" :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
                <div class="btn-text">
                    texttexttexttext
                </div>
        </div>
</div>
{% endblock %}
